.leela{
    padding: 10px;
    background: linear-gradient(90deg, orange, gold);
    
}
.san{
   padding: 40px;
    border: 5px solid red;
}
body button{
    background: linear-gradient(90deg, orange, gold);
    border-radius: 50px;
}

.text h3{
    padding: 45px;
    text-align: center;
    color: red;
}
.icon p{
    color: gold;
    text-align: center;
    font-size: x-large;
}
.circle{
    text-align: center;
}
.circle img{
    width: 100px;
    height: 100px;

    border-radius: 100px;
    border: 5px solid red;
}
.imag img{
    max-width: 100vw;
    max-height: 100vh;
}
.red{
    color: white;
    text-align: center;
    
    background-color: red;
}
footer{
    background :linear-gradient(55deg, gold, rgb(147, 12, 231));
    color: white;
}
.user{
    width: 700px;
    height: 50px;
    border-radius: 20px;
}
